<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="base.html :: headerfiles">
    <title>Tickets</title>
</head>
<body>
<header th:insert="base.html :: navbar"> </header>

<div th:if="${tickets.size() == 0}">
    <div class="alert alert-info" role="alert"
        th:text="'You have not bought any tickets!'">
    </div>
</div>

<div th:if="${param.successfullyReturned}">
    <div class="alert alert-success"
         th:text="'Ticket was successfully returned!'">
    </div>
</div>
<div th:if="${param.failedSearch}">
    <div class="alert alert-danger"
         th:text="'Not found such ticket!'">
    </div>
</div>

<div sec:authorize="hasRole('ROLE_USER')" th:if="${tickets.size() != 0}">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Route</th>
            <th scope="col">Train</th>
            <th scope="col">Departs</th>
            <th scope="col">Arrives</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody th:each="ticket: ${tickets}">
        <tr>
            <td th:text="${ticket.getRun().name}" ></td>
            <td th:text="${ticket.getRun().route.getName()}"></td>
            <td th:text="${ticket.getRun().train.getName()}"></td>
            <td th:text="${ticket.getRun().getDepartureDateToString()}"></td>
            <td th:text="${ticket.getRun().getArrivalDateToString()}"></td>
            <td th:text="${ticket.getPrice()}"></td>
            <td th:text="${ticket.getStatus().toString()}" class="badge"
                th:classappend="${ticket.getStatus().toString()} eq 'VALID' ? 'badge-success' :
                (${ticket.getStatus().toString()} eq 'INVALID' ? 'badge-danger' : 'badge-warning')"></td>


            <td class="mx-2" style="float: right">
                <div class="row">
                    <div class="col-xs-6 px-1 mx-1">
                        <form th:action="@{/tickets/return}" method="post">
                            <input type="hidden" th:name="ticketId" th:value="${ticket.id}">
                            <button type="submit" th:disabled="${ticket.getStatus().toString()} neq 'VALID'"
                                    class="btn btn-danger">Return</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>