<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="base.html :: headerfiles">
    <title>Create New Train</title>
</head>
<body>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Create New Run</h2>
            </div>
<!--            <div th:if="${param.success}">-->
<!--                <div class="alert alert-info">-->
<!--                    You have successfully created run!-->
<!--                </div>-->
<!--            </div>-->
            <div class="card-body">
                <!--/*@thymesVar id="run" type="com.naukma.ticketsservice.run.RunDto"*/-->
                <form
                        method="post"
                        role="form"
                        th:action="@{/run}"
                        th:object="${run}"
                >
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input
                                class="name"
                                id="name"
                                name="name"
                                placeholder="Enter name"
                                th:field="*{name}"
                                type="text"
                        />
                        <p th:errors = "*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label for="route" class="form-label">Route</label>
                        <select
                                class="routeName"
                                id="route"
                                name="routeName"
                                placeholder="Select route"
                                th:field="*{routeId}"
                                type="text"
                        >
                            <option th:each="route:${routes}" th:value="${route}" th:text="${route}"></option>
                        </select>
                        <p th:errors = "*{routeId}" class="text-danger"
                           th:if="${#fields.hasErrors('route')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label for="train" class="form-label">Train</label>
                        <select
                                class="trainName"
                                id="train"
                                name="trainName"
                                placeholder="Select train"
                                th:field="*{trainId}"
                                type="text"
                        >
                            <option th:each="train:${trains}" th:value="${train}" th:text="${train}"></option>
                        </select>
                        <p th:errors = "*{trainId}" class="text-danger"
                           th:if="${#fields.hasErrors('train')}"></p>
                    </div>
<!--                    <div class="form-group mb-3">-->
<!--                        <label for="route" class="form-label">Speed</label>-->
<!--                        <input-->
<!--                                class="form-control"-->
<!--                                id="speed"-->
<!--                                name="speed"-->
<!--                                placeholder="Enter speed"-->
<!--                                th:field="*{speed}"-->
<!--                                type="number"-->
<!--                        />-->
<!--                        <p th:errors = "*{speed}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('speed')}"></p>-->
<!--                    </div>-->


                    <div class="form-group mb-3">
                        <label for="departureTime" class="form-label">Departure time</label>
                        <input
                                class="form-control"
                                id="departureTime"
                                name="departureTime"
                                placeholder="Select departure time"
                                th:field="*{departureTime}"
                                type="time"
                        />
                        <p th:errors = "*{departureTime}" class="times-danger"
                           th:if="${#fields.hasErrors('departureTime')}"></p>
                    </div>



                    <div class="form-group mb-3">
                        <label for="arrivalTime" class="form-label">Arrival time</label>
                        <input
                                class="form-control"
                                id="arrivalTime"
                                name="arrivalTime"
                                placeholder="Select arrival time"
                                th:field="*{arrivalTime}"
                                type="time"
                        />
                        <p th:errors = "*{departureTime}" class="times-danger"
                           th:if="${#fields.hasErrors('departureTime')}"></p>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>