<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Runs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <h2>Runs</h2>
        <!--/*@thymesVar id="runs" type="Run"*/-->
        <div th:each="run: ${runs}">
            <h3 th:text="${run.getName()}"></h3>
            <p>route: <span th:text="${run.getRoute()}"></span></p>
            <p>train: <span th:text="${run.getTrain()}"></span></p>
            <p>departure-time: <span th:time="${run.getDepartureTime()}"></span></p>
            <p>arrival-time: <span th:time="${run.getArrivalTime()}"></span></p>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn btn-primary" href="create.html">Create</a>
                <a class="btn btn-primary" href="#">Update</a>
                <a class="btn btn-primary" href="#">Delete</a>
            </div>
        </div>
    </div>
</body>
</html>