<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="base.html :: headerfiles">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Runs</title>
</head>
<body>
<header th:insert="base.html :: navbar"> </header>

<div th:if="${param.failedDeletion}">
    <div class="alert alert-info" th:text="${#httpServletRequest.getParameter('error')}"></div>
</div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Route</th>
        <th scope="col">Train</th>
        <th scope="col">Departs</th>
        <th scope="col">Arrives</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody th:each="run: ${runs}">
    <tr>
        <th th:text="${run.id}" scope="row"></th>
        <td th:text="${run.name}" ></td>
        <td th:text="${run.route.getName()}"></td>
        <td th:text="${run.train.getName()}"></td>
        <td th:text="${run.getDepartureDateToString()}"></td>
        <td th:text="${run.getArrivalDateToString()}"></td>

        <td class="mx-2" style="float: right">
            <div class="row">
                <div class="col-xs-6 px-1 mx-1">
                    <a th:href="'?updating&updateId=' + ${run.id}" class="btn btn-outline-primary btn-sm"><i class="far fa-edit"></i></a>
                </div>

                <div class="col-xs-6 px-1 mx-1">
                    <form method="post" th:action="@{/admin/runs/delete/} + ${run.id}">
                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${param.failedCreation}">
    <div class="alert alert-info" th:text="${#httpServletRequest.getParameter('error')}"></div>
</div>

<div th:if="${param.failedUpdate}">
    <div class="alert alert-info" th:text="${#httpServletRequest.getParameter('error')}"></div>
</div>

<div th:if="${param.updating}" th:with="updateID=${#httpServletRequest.getParameter('updateId')}">
    <h1 class="h3 my-4 mx-3" th:text="'Update id ' + ${updateID}"></h1>
    <form class="mx-3" method="post" role="form" th:action="@{/admin/runs/update/} + ${updateID}" th:object="${newRun}">
        <div class="form-inline">
            <label class="lead" for="nameUpd">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2 ml-2" id="nameUpd" placeholder="Enter name" th:field="*{name}">


            <label class="lead" for="routeUpd">Route</label>
            <select id="routeUpd" class="form-control mb-2 mr-sm-2 ml-2" size="3" th:field="*{routeId}">
                <option th:each="route : ${routes}" th:value="${route.id}" th:text="${route.getName()}"></option>
            </select>

            <label class="lead" for="trainUpd">Train</label>
            <select id="trainUpd" class="form-control mb-2 mr-sm-2 ml-2" size="3" th:field="*{trainId}">
                <option th:each="train : ${trains}" th:value="${train.id}" th:text="${train.getName()}"></option>
            </select>
        </div>

        <div class="form-inline">
            <label class="lead" for="d-dateUpd">Departure date</label>
            <input type="date" id="d-dateUpd" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Select departure date" th:field="*{departureDate}">
            <label class="lead" for="d-timeUpd">Departure time</label>
            <input type="time" id="d-timeUpd" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Select departure time" th:field="*{departureTime}">
            <label class="lead" for="a-dateUpd">Arrival date</label>
            <input type="date" id="a-dateUpd" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Select arrival date" th:field="*{arrivalDate}">
            <label class="lead" for="a-timeUpd">Arrival time</label>
            <input type="time" id="a-timeUpd" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Select arrival time" th:field="*{arrivalTime}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<h1 class="h3 my-4 mx-3">Create new</h1>
<form class="mx-3" method="post" role="form" th:action="@{/admin/runs/create}" th:object="${newRun}">
    <div class="form-inline">
        <label class="lead" for="name">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2 ml-2" id="name" placeholder="Enter name" th:field="*{name}">


        <label class="lead" for="route">Route</label>
        <select id="route" class="form-control mb-2 mr-sm-2 ml-2" size="3" th:field="*{routeId}">
            <option th:each="route : ${routes}" th:value="${route.id}" th:text="${route.getName()}"></option>
        </select>

        <label class="lead" for="train">Train</label>
        <select id="train" class="form-control mb-2 mr-sm-2 ml-2" size="3" th:field="*{trainId}">
            <option th:each="train : ${trains}" th:value="${train.id}" th:text="${train.getName()}"></option>
        </select>
    </div>

    <div class="form-inline">
        <label class="lead" for="d-date">Departure date</label>
        <input type="date" id="d-date" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Select departure date" th:field="*{departureDate}">
        <label class="lead" for="d-time">Departure time</label>
        <input type="time" id="d-time" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Select departure time" th:field="*{departureTime}">
        <label class="lead" for="a-date">Arrival date</label>
        <input type="date" id="a-date" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Select arrival date" th:field="*{arrivalDate}">
        <label class="lead" for="a-time">Arrival time</label>
        <input type="time" id="a-time" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Select arrival time" th:field="*{arrivalTime}">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>