<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="base.html :: headerfiles">
    <title>Register</title>
</head>
<body>
<header th:insert="base.html :: navbar"></header>
<div class="container col-5 mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Registration</h2>
        </div>
        <div th:if="${param.success}">
            <div class="alert alert-success">
                You have successfully registered our app!
            </div>
        </div>
        <div class="card-body">
            <form
                    method="post"
                    role="form"
                    th:action="@{/register}"
                    th:object="${user}"
            >
                <div class="form-group mb-3">
                    <label class="form-label" for="firstName">First Name</label>
                    <input
                            class="form-control"
                            id="firstName"
                            name="firstName"
                            placeholder="Enter first name"
                            th:field="*{firstName}"
                            type="text"
                    />
                    <p th:errors="*{firstName}" class="text-danger"
                       th:if="${#fields.hasErrors('firstName')}"></p>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input
                            class="form-control"
                            id="lastName"
                            name="lastName"
                            placeholder="Enter last name"
                            th:field="*{lastName}"
                            type="text"
                    />
                    <p th:errors="*{lastName}" class="text-danger"
                       th:if="${#fields.hasErrors('lastName')}"></p>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Enter email address"
                            th:field="*{email}"
                            type="email"
                    />
                    <p th:errors="*{email}" class="text-danger"
                       th:if="${#fields.hasErrors('email')}"></p>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Enter password"
                            th:field="*{password}"
                            type="password"
                    />
                    <p th:errors="*{password}" class="text-danger"
                       th:if="${#fields.hasErrors('password')}"></p>
                </div>
                <div class="form-group text-center mb-3">
                    <button class="btn btn-primary btn-lg" type="submit">Register</button>
                </div>

                <div class="form-group text-center">
                    <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>