<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="base.html :: headerfiles">
    <title>Create New Train</title>
</head>
<body>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Create New Train</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully created train!
                </div>
            </div>
            <div class="card-body">
                <!--/*@thymesVar id="train" type="com.naukma.ticketsservice.train.TrainDto"*/-->
                <form
                        method="post"
                        role="form"
                        th:action="@{/train}"
                        th:object="${train}"
                >
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input
                                class="name"
                                id="name"
                                name="name"
                                placeholder="Enter name"
                                th:field="*{name}"
                                type="text"
                        />
                        <p th:errors = "*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label for="speed" class="form-label">Speed</label>
                        <input
                                class="form-control"
                                id="speed"
                                name="speed"
                                placeholder="Enter speed"
                                th:field="*{speed}"
                                type="number"
                        />
                        <p th:errors = "*{speed}" class="text-danger"
                           th:if="${#fields.hasErrors('speed')}"></p>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>