<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Trains</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <h2>Trains</h2>
        <!--/*@thymesVar id="trains" type="com.naukma.ticketsservice.train.Train"*/-->
        <div th:each="train: ${trains}">
            <h3 th:text="${train.name}"></h3>
            <p>Speed: <span th:text="${train.speed}"></span></p>
<!--            <div sec:authorize="hasRole('ROLE_ADMIN')">-->
                <p>Runs: <a href="#" th:each="run: ${train.runs}" th:text="${run}"></a></p>


                <a class="btn btn-warning" th:href="@{/train/update/{name}(name=${train.name})}">Update</a>
                <a class="btn btn-danger" th:href="@{/train/delete/{name}(name=${train.name})}">Delete</a>
<!--            </div>-->
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="btn btn-primary" th:href="@{/train/create}">Create</a>
        </div>
    </div>
</body>
</html>