<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="base.html :: headerfiles">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Trains</title>
</head>
<body>
<header th:insert="base.html :: navbar"> </header>

<div th:if="${param.failedDeletion}">
    <div class="alert alert-info" th:text="${#httpServletRequest.getParameter('error')}"></div>
</div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Speed</th>
        <th scope="col">Capcity</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody th:each="train: ${trains}">
    <tr>
        <th th:text="${train.id}" scope="row"></th>
        <td th:text="${train.name}" ></td>
        <td th:text="${train.speed}"></td>
        <td th:text="${train.capacity}"></td>

        <td class="mx-2" style="float: right">
            <div class="row">
                <div class="col-xs-6 px-1 mx-1">
                    <a th:href="'?updating&updateId=' + ${train.id}" class="btn btn-outline-primary btn-sm"><i class="far fa-edit"></i></a>
                </div>

                <div class="col-xs-6 px-1 mx-1">
                    <form method="post" th:action="@{/admin/trains/delete/} + ${train.id}">
                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${param.failedCreation}">
    <div class="alert alert-info" th:text="${#httpServletRequest.getParameter('error')}"></div>
</div>

<div th:if="${param.failedUpdate}">
    <div class="alert alert-info" th:text="${#httpServletRequest.getParameter('error')}"></div>
</div>

<div th:if="${param.updating}" th:with="updateID=${#httpServletRequest.getParameter('updateId')}">
    <h1 class="h3 my-4 mx-3" th:text="'Update id ' + ${updateID}"></h1>
    <form class="mx-3 form-inline" method="post" role="form" th:action="@{/admin/trains/update/} + ${updateID}" th:object="${newTrain}">
        <label class="sr-only">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Enter new name" th:field="*{name}">

        <label class="sr-only">Speed</label>
        <input type="number" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Enter new speed" th:field="*{speed}">

        <label class="sr-only">Capacity</label>
        <input type="number" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Enter new capacity" th:field="*{capacity}">

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
</div>

<h1 class="h3 my-4 mx-3">Create new</h1>
<form class="mx-3 form-inline" method="post" role="form" th:action="@{/admin/trains/create}" th:object="${newTrain}">

    <label class="sr-only">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Enter name" th:field="*{name}">

    <label class="sr-only">Speed</label>
    <input type="number" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Enter speed" th:field="*{speed}">

    <label class="sr-only">Capacity</label>
    <input type="number" class="form-control mb-2 mr-sm-2 ml-2" placeholder="Enter new capacity" th:field="*{capacity}">

    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>

</body>
</html>